---
---

// Override default styles
$header-bg-color: #f2a900;           // Primary header color
$header-bg-color-secondary: #f7931a; // Secondary header color (for gradient)

$section-headings-color: #f2a900;    // Heading colors

@import "{{ site.theme }}";
